<div class="container">
  <div class="page-header">
    <h1>新規ユーザー登録</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Twineuversを利用するためにはユーザー登録が必要です。</h3>
    </div>
    <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "新規登録", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="panel-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>